<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

     <script type="text/javascript">
        var _baseUrl = "@Url.Content("~")";
    </script>

    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @RenderSection("Head", false)
</head>

<body>
    @RenderBody()
</body>
</html>
